:root {
  --primary-colour: #e3ded8;
  --secondary-colour: #f8f3ed;
  --primary-contrast-color: #21242a;
  --secondary-contrast-color: #6e6259;
  --heading-font-family: "Sono", sans-serif;
  --general-font-family: "Khula", sans-serif;
}

body {
  font-family: var(--general-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--primary-contrast-color);
}

h1 {
  font-size: 38px;
}

h3 {
  padding-left: 100px;
}

h4 {
  font-size: 18px;
}

p {
  font-family: var(--general-font-family);
  font-weight: 300;
}

.hero {
  background: var(--primary-colour);
  text-align: left;
  padding: 100px 100px;
}

.hero h2 {
  font-family: var(--general-font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-contrast-color);
}

.btn {
  border-radius: 0px;
  padding: 12px 36px;
  font-family: var(--general-font-family);
  font-weight: 300;
  padding: 5px 40px;
}

.btn-primary {
  background: var(--secondary-colour);
  border: var(--secondary-colour);
  font-size: 14px;
  line-height: 30px;
  color: var(--primary-contrast-color);
}

.btn-primary:hover {
  color: var(--secondary-colour);
  border: var(--primary-contrast-color);
  background: var(--primary-contrast-color);
}

.btn-secondary {
  color: var(--primary-contrast-color);
  background: var(--secondary-colour);
  border: var(--secondary-colour);
  font-size: 12px;
  font-style: italic;
  line-height: 22px;
}

.btn-secondary:hover {
  color: var(--secondary-colour);
  border: var(--secondary-contrast-color);
  background: var(--secondary-contrast-color);
}

.container {
  margin: 0px;
  padding-left: 100px;
}

.article-description p {
  font-size: 14px;
}
