:root {
  --primary-colour: #e3ded8;
  --secondary-colour: #f8f3ed;
  --primary-contrast-color: #21242a;
  --secondary-contrast-color: #4c4642;
  --heading-font-family: "Playfair Display", serif;
  --general-font-family: "Khula", sans-serif;
}

body {
  font-family: var(--general-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--primary-contrast-color);
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
}

p,
a {
  font-family: var(--general-font-family);
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0px;
  padding-left: 10px;
  font-size: 12px;
  font-family: var(--general-font-family);
  font-weight: 400;
}

.primary-page {
  background-color: var(--primary-colour);
  display: flex;
}

.primary-page h1 {
  margin: 50px 0px 10px;
}

.primary-page h2 {
  margin: 0px 0px 50px;
}

.logo {
  max-height: 50px;
}

.header {
  padding: 0px 100px;
  margin: 0px;
  background: var(--primary-colour);
}

nav {
  padding: 30px 0px 0px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 48px;
  margin-left: 40px;
}

nav a {
  font-family: var(--heading-font-family);
  text-decoration: none;
  color: var(--secondary-contrast-color);
  text-transform: uppercase;
  transition: all 100ms ease;
}

nav a:hover,
nav li.active a {
  color: var(--primary-contract-color);
}

nav ul {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.nav-menu {
  display: inline;
  padding: 0;
  margin: 0;
}

.content.work h3 {
  font-size: 18px;
  text-transform: none;
}

.hero {
  background: var(--primary-colour);
  text-align: left;
  padding: 100px 100px;
}

.non-hero {
  padding: 0px 100px;
}

.hero h1 {
  font-size: 38px;
}

.hero h2,
.content h2 {
  font-family: var(--general-font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--secondary-contrast-color);
}

.article-img {
  padding: 0px;
}

.article-description {
  padding-left: 30px;
}

.article-description p {
  font-size: 14px;
}

.btn {
  border-radius: 0px;
  padding: 12px 36px;
  font-family: var(--general-font-family);
  font-weight: 300;
}

.btn-primary:active:focus {
  color: #ffffff;
  background-color: #161617;
  border-color: #494f57;
}

.btn-primary {
  background: var(--secondary-colour);
  border: var(--secondary-colour);
  font-size: 14px;
  line-height: 30px;
  color: var(--primary-contrast-color);
  font-style: italic;
}

.btn-primary:hover {
  color: var(--secondary-colour);
  border: var(--primary-contrast-color);
  background: var(--primary-contrast-color);
}

.btn-secondary {
  color: var(--primary-contrast-color);
  background: var(--secondary-colour);
  border: var(--secondary-colour);
  font-size: 12px;
  font-style: italic;
  line-height: 22px;
}

.btn-secondary:hover {
  color: var(--secondary-colour);
  border: var(--secondary-contrast-color);
  background: var(--secondary-contrast-color);
}

.get-in-touch {
  margin-top: 50px;
  margin-bottom: 50px;
}

#manifesto {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: var(--secondary-contrast-color);
  opacity: 50%;
}

@media (max-width: 992px) {
  .hero,
  .non-hero {
    text-align: center;
    padding: 50px 50px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 14px;
  }

  .non-hero h3 {
    padding: 0px 50px;
    text-align: center;
  }

  .non-hero {
    padding: 0px 50px;
  }

  .article {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .article-description {
    margin-bottom: 10px;
    width: 100%;
    padding: 0px;
  }

  .content {
    text-align: center;
  }

  .primary-page {
    text-align: center;
  }

  .primary-page h1 {
    margin-bottom: 50px !important;
  }

  .about-img {
    text-align: center;
    margin: 0;
  }

  .get-in-touch {
    margin-top: 0px;
  }

  ul {
    padding: 20px 0px 0px;
  }

  .header {
    padding: 0px 50px;
  }

  .logo {
    max-height: 35px;
  }

  nav ul {
    line-height: 30px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
  }
}

nav li {
  margin-left: 12px;
}
